<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/styles/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400&display=swap" /> 
    <link rel='icon' href='static/images/favicon.png' type='image/x-icon'/>
    <meta charset="utf-8"/>
    <meta name="author" content="Talie Massachi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YourPostOnChirp</title>
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-W3BJ1THLFT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-W3BJ1THLFT');
  </script>

  <body>
    <script>0</script>
    <div class="main-column">
      <div class="content">
        <header class="page-heading">
          <h1 class="title">
            <a href="/">Your Post On Chirp</a>
          </h1>
        </header>

        <div>
          <h2><em>What if AI turned this message into emojis?</em></h2>
          A question we have all asked ourselves. Well now you can find out! Enter a tweet or some text and send it along 
          to GPT for translation into (up to 6) emojis.
        </div>

        <div>
          <a href="https://chime.talie.town/emoji_result?toot_link=https://mastodon.social/@neilhimself/109294849537285539&emoji_string=😄🟢💫🔮&media_descrip=">See</a> 
          <a href="https://chime.talie.town/emoji_result?toot_link=https://discuss.systems/@ryanmarcus/111960179263529720&emoji_string=😂 ⛔%EF%B8%8F🏠🐦🐦🐦&media_descrip=Four birds sitting in and on a bird feeder that is far too small for all four birds.%20">some</a> 
          <a href="https://chime.talie.town/emoji_result?message_text=I can buy myself flowers%0D%0AWrite my name in the sand%0D%0ATalk to myself for hours%0D%0ASay things you don't understand%0D%0AI can take myself dancing%0D%0AAnd I can hold my own hand%0D%0AYeah, I can love me better than you can&emoji_string=😊💐💬💃🤝❤%EF%B8%8F&media_descrip=">examples.</a>
        </div>

        <div class="get-post">
          <form action="/emoji_result" method="get">
            <label for="message_text">Your message here:</label><br>
            <textarea name="message_text" maxlength="300"></textarea> <br>
            <br>
            <label for="mastodon_link">Or a link to a Mastodon Post:</label><br>
            <input type="text" id="toot_link" name="toot_link" value={{toot_link}}><br>
            <br>
            <span>Note: due to updates to X's (formerly Twitter) API, we can no longer support Tweets.</span>
            <br>
            <div class="button_container">
              <input class="button_t" type="submit" value="Emojify!">
            </div>
          </form>
        </div>

        <div class="note">
          <p>
            Results are generated by sending your provided data into a large language model (GPT3) as part of a broader prompt.
            The model then produces statistically-likely tokens according to the prompt, in this case emojis.
            The results you receive can reflect biases of the model.
          </p>
        </div>



        <div class="bottom-bar">
          Emojis, a daily journal, and a social space all in one: try Chirp
          <div class="chime-links">
            <a class="download" href='https://apps.apple.com/us/app/chime-social-mood-tracker/id1556182825'><img alt='Get it on the App Store' src='../static/images/app_store.svg'/></a>
            <a class="download" href='https://play.google.com/store/apps/details?id=com.brown.chime&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='../static/images/google_play.svg'/></a>
          </div>
        </div>
      </div> <!-- close class="content" -->
    </div> <!-- close class="main-column" -->
  </body>
</html>