/* Central objects */
body {
  background-color: #FFEFE8;
  color: black;
  font-family: Poppins;
  font-weight: 300;
  font-size: 1em;
  --link-color: #4394B2;
  /* --link-color: #7f0990, #004B48, #177E89, #69995D, #090C9B; */
  /* border-top: 2px solid gray; */
}

.main-column {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  align-items: center;
}

.content {
  width: 95%;
  margin: auto;
}

.page-heading {
  text-align: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.title {
  padding-top: 5px;
  font-size: 2.5em;
  color: rgb(44, 44, 43);
  font-weight: 200;
  margin: 0px;
  
}

.title > a {
  color: rgb(44, 44, 43);
  text-decoration: none;
}

.button_t {
  border: none;
  outline: none;
  padding: 5px;
  margin: 8px 0px;
}



/* Unique styles */
.get-tweet {
  margin-top: 10px;
}

.tweet-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}

.tweet-media {
  width: 45%;
}

input[type="text"] {
  width: 100%;
}

.button_t {
  width: 15em;
  height: 3em;
  font: 1em poppins;
  background-color: #FFEFE8;
  color: black;
  border: 2px solid black;
  text-decoration: none;
}

.button_t:hover {
  background-color: black;
  color: #FFEFE8;
}

textarea {
  width: 100%;
}

.bottom-bar {
  margin-top: 12px;
  height: 3em;
}

.output-post {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.tweet {
  width: 50%;
}

#message-text {
  font-size: 2.5em;
  font-weight: 200;
}

#emojis {
  font-size: 4em;
  margin-top: .5em;
  margin-bottom: .5em;
}

.chime-links {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.download img{
  height: 40px;
  row-gap: 10px;
  margin-right: 8px;
}




@media (max-width: 600px) {
  .output-post {
    flex-direction: column-reverse;
  }
  
  .tweet {
    width: 100%;
  }

  #emojis {
    font-size: 2em;
  }

  
}